.col4{
    background-color: red;
}

.col8{
    background-color: green;
}

.blue{
    background-color: blue;
}

.orange{
    background-color: orange;
}

.black{
    background-color: black;
}

.purple{
    background-color: purple;
}

.white{
    background-color: white;
}

.red{
    background-color: red;
}
